[submodule "StadaloneClient/src/com/dur/shared"]
	path = StadaloneClient/src/com/dur/shared
	url = https://github.com/Dur/shared
[submodule "ServerSide/src/main/java/com/dur/shared"]
	path = ServerSide/src/main/java/com/dur/shared
	url = https://github.com/Dur/shared
